
.mongodb_data/
.grafana_data/
.prometheus_data/
javasight-service/project/project/
javasight-service/project/target/
javasight-service/target/
.metals/
javasight-service/.bloop/
javasight-service/.bsp/
javasight-service/project/.bloop/
.aider*
javasight-service/logs/
.redis_data/
target/
**/.DS_Store
old-javasight-ui/
**/.cursorrules
**/.clinerules
